[submodule "bundle/CtrlP"]
	path = bundle/CtrlP
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/Scala"]
	path = bundle/Scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/Fugitive"]
	path = bundle/Fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Tagbar"]
	path = bundle/Tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/Gundo"]
	path = bundle/Gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/Dispatch"]
	path = bundle/Dispatch
	url = https://github.com/tpope/vim-dispatch.git
